@import "fonts";

.my_container {
    background-color: black;
    overflow: hidden;
    position: relative;
    transition: opacity 1s;
    opacity: 0;
    &.un-hide {
        opacity: 1;
    }
}
.img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}
.italic {
    font-style: italic !important;
}
.text_title {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 25px;
    font-family: "SVN-Gilroy";
    font-weight: bold;
    font-style: normal;
    position: absolute;
    margin-top: 0px;
    bottom: -7%;
    color: white;
}
.text_content {
    width: 640px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    position: relative;
    font-family: "K2D";
    font-weight: normal;
    font-style: normal;
}

.group_image {
    position: relative;
    width: fit-content;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    & img:first-child {
        position: initial;
    }
}

.author {
    font-size: 18px;
    font-family: "San Francisco Text";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    // width: 700px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    p {
        text-align: center;
        span {
            font-weight: bold;
        }
        margin-bottom: 0;
    }
    margin-top: 0px;
}
.cover-container {
    height: calc(100vh - 46px);
    position: relative;
    transition: transform 1s;
}
.cover {
    position: absolute;
    height: calc(100vh - 46px);
    background-color: black;
    transition: all 0.5s;
    width: 100%;
    z-index: 5;
}

.cover-1 {
    top: 0;
    z-index: 15;
}
.cover-2 {
    top: 100%;
}

.cover-up {
    .cover-1 {
        top: 0%;
    }
    .cover-2 {
        top: 100%;
    }
}
.cover-down {
    .cover-1 {
        top: -100%;
    }
    .cover-2 {
        top: 0%;
    }
}
.bg-bottom-cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: url(../images/bg-1.png);
    background-size: cover;
    background-position: center bottom;
}
.cover-container {
    .group_img_1 {
        top: -12%;
        z-index: 5;
    }
    .group_img_2 {
        position: absolute;
        top: 73%;
        right: 56%;
        max-width: 68px;
    }

    .img-1 {
        margin-top: -1%;
    }
}

.my_container.is-cover {
    .cover-container {
        transform: translateX(0%);
    }
    .content-container {
        transform: translateX(100%);
    }
}

.my_container.is-content {
    .cover-container {
        transform: translateX(-100%);
    }
    .content-container {
        transform: translateX(0%);
    }
}

// ----------- CONTENT ---------------
.content-container {
    top: 0;
    width: 100%;
    height: calc(100vh - 46px);
    background-color: whites;
    transition: transform 1s;
    position: absolute;
    padding-top: 20px;
    background-image: url(../images/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.content-container {
    .group_image {
        img {
            max-height: 70vh;
            width: auto;
        }
    }
    img {
        max-height: 70vh;
    }
}
.nav-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
    border-bottom: 1px solid #8a8a8a;
}

.nav-note {
    display: flex;
    gap: 10px;
    p {
        font-family: "SVN-Gilroy";
        font-size: 15px;
        font-weight: 400;
        font-style: italic;
        color: #2f373e;
        margin-bottom: 0;
    }
    i {
        color: #8a8a8a !important;
    }
}
.nav-list {
    display: flex;
    gap: 2px;

    .nav-item {
        height: 35px;
        width: 80px;
        background-color: #8a8a8a;
        color: #a8a8a8;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        p {
            margin-bottom: 0;
            font-family: "SVN-Gilroy";
            font-size: 15px;
            font-weight: 400;
            -webkit-user-select: none; /* Chrome, Safari, Opera */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard syntax */
        }
        cursor: pointer;
    }
    .nav-item.active-nav {
        background-color: #546583;
        color: white;
    }
}

.page-title-container {
    display: flex;
    gap: 13px;

    min-height: 122px;
    .page-number {
        padding: 2px 10px;
        background-color: #282f3c;
        color: white;
        font-size: 17px;
        margin-bottom: 0;
        height: fit-content;
    }
    .page-title {
        font-family: "UTM HelvetIns";
        font-weight: normal;
        font-style: normal;
        font-size: 25px;
        color: #282f3c;
        margin-top: -10px;
    }
}
.page-container {
    margin-top: 25px;

    background-image: url(../images/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.page-content {
    display: flex;
    max-height: 72.8vh;
    gap: 40px;
    justify-content: space-between;
}

.page {
    opacity: 0;
    display: none;
    padding: 0 120px;
}
.page.active-page {
    opacity: 1;
    display: block;
}

.page.page-1 {
    padding-right: 0;
    // width: calc(100% - 60px);
    .group_text_1 {
        margin-left: -50px;
    }
}
.page-1,
.page-2,
.page-3,
.page-4,
.page-5,
.page-6,
.page-7 {
    .left-container {
        padding-left: 0px;
        overflow: auto;
        padding-right: 20px;
        width: 45%;
        &::-webkit-scrollbar {
            width: 7px;
            height: 7px;
        }
        &::-webkit-scrollbar-thumb {
            background: #7a848c;
            border-radius: 16px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 16px;
            height: 50%;
        }
    }
    .right-container {
        width: 55%;
        max-width: 55%;
        // width: 52%;
        // max-width: 52%;
    }
}

.page-6 {
    .img-1 {
        margin: 0;
    }
    .group_img_1 {
        width: 81%;
    }
}

.page-2 {
    .right-container {
        position: relative;
    }
    .script-img {
        position: absolute;
        font-size: 50px;
        font-family: "UTM Banque";
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        text-align: left;
        bottom: 0%;
        line-height: 1;
        left: -10.5%;
        color: #647683;
    }
}

.page-7 {
    .right-container {
        position: relative;
    }
    .img-2 {
        position: absolute;
        bottom: -25%;
        left: -60.5%;
        max-height: 34vh;
    }
}

.play-container {
    margin-left: 7%;
    align-items: center;
    display: flex;
    gap: 20px;
    font-size: 15px;
    .btn-play {
        margin-bottom: 0;
        cursor: pointer;
    }
    p {
        color: #488bc2;
        margin-bottom: 0;
        font-family: "SVN-Gilroy";
        font-size: 15px;
        font-weight: 400;
        i {
            margin-right: 10px;
        }
    }
}

@keyframes arrowA {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
    }
}

.derection-container {
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    p {
        margin-bottom: 5px;
        font-size: 15px;
        color: white;
        font-family: "SVN-Gilroy";
        font-weight: 400;
        font-style: normal;
    }
    .img-arrow {
        animation: arrowA 1s ease-in-out infinite alternate;
    }
}

.to-home {
    position: absolute;
    right: 30px;
    bottom: -4px;
    font-size: 15px;
    color: #628aab;
    font-family: "SVN-Gilroy";
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    text-decoration: underline;
    cursor: pointer;
    z-index: 100;
}

.a-move-down {
    animation: arrowB 1s alternate infinite;
}
@keyframes arrowB {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

.active-page {
    display: block !important;
}

// ----------- SWWIPER
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background: #000;
    color: #000;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

.mySwiper2 {
    height: 75%;
    width: 100%;
}

.mySwiper {
    height: 15%;
    box-sizing: border-box;
    padding: 5px;
    width: 50% !important;
    transform: translateY(-50%);
    background-color: white;
    cursor: pointer;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    // opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
}

//cusstom nut ---------------
.page-4 .right-container {
    position: relative;
}
.my-group-btn {
    position: absolute;
    width: 56%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24%;
    z-index: 10;
    i {
        background-color: white;
        width: 30px;
        height: 30px;
        color: #373937;
    }
}
.page-4 {
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: "next";
        display: none;
    }
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: "prev";
        display: none;
    }
}

//Slide-page 1

.page-1 {
    position: relative;
    .swiper {
        width: 100%;
        padding-bottom: 50px;
        height: 100%;
        // max-height: 80%;
        background-color: transparent;
        padding-right: 100px;
        margin-top: -2.5%;
    }
    .swiper-slide {
        background-color: transparent;
    }
    .swiper-slide img {
        display: block;
        width: auto;
        height: 91%;
    }
    .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }
    .swiper-3d .swiper-slide-shadow-left {
        background-image: none;
    }
}

.slide-des {
    position: absolute;
    left: 5%;
    top: -30px;
    font-size: 13px;
    color: #488bc2;
    font-family: "SVN-Gilroy";
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    cursor: pointer;
}

//custom btn slide page 1
.page-1-group-btn {
    position: absolute;
    left: 0;
    display: flex;
    width: 150px;
    align-items: center;
    height: fit-content;
    i {
        font-size: 30px;
        // position: inherit !important;
        color: #3d5467;
        z-index: 10;
        font-weight: 400;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        // position: inherit;
    }
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: "next";
        display: none;
    }
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: "prev";
        display: none;
    }
    .swiper-pagination {
        font-family: "SVN-Gilroy";
        font-weight: 500;
        font-style: normal;
        margin-bottom: -22px;
        .swiper-pagination-total {
            font-size: 18px;
            color: #788c9e;
        }
        .swiper-pagination-current {
            font-size: 28px;
            color: #3d5467;
        }
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
    }
}

.img-text {
    position: absolute;
    bottom: 0;
    right: 0;
}
.video-container {
    width: 100%;
    height: fit-content;
    // max-width: 700px;
    top: 23px;
    right: 19%;
    // border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 30px;
}
.ratio {
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    z-index: 100;
    // border-radius: 20px;
    overflow: hidden;
    position: relative;
}
// fake
.iframe-container {
    // width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.video {
    width: 100%;
}
.d-none {
    display: none;
}
// -------------

@media (max-width: 1600px) {
    .page-title-container {
        min-height: 110px;
        .page-title {
            font-size: 22px;
        }
    }
    .page.page-1 {
        .group_text_1 {
            margin-left: 0px;
        }
    }
    .page-1 {
        .swiper-slide img {
            height: 90%;
        }
    }
    .page-content {
        max-height: 67.8vh;
    }
    .page-1-group-btn {
        bottom: 7%;
        left: 2%;
    }
    .page-2 {
        .script-img {
            font-size: 43px;
            bottom: -7%;
            left: -6.1%;
        }
    }
    .content-container .group_image img {
        max-height: 65vh;
    }
    .page {
        padding: 0 90px;
    }
    .content-container img {
        max-height: 63vh;
    }
    .page-6 .img-1 {
        margin: 0 auto;
    }
    .left-container {
        .group_text {
            margin-left: 37px !important;
        }
    }
    .mySwiper2 {
        height: 84%;
    }
    .my-group-btn {
        bottom: 15%;
    }
    .page-7 {
        .img-1 {
            max-height: 52vh;
        }
        .img-2 {
            bottom: -23%;
            left: -19.5%;
            max-height: 26vh;
        }
    }
    .mySwiper {
        width: 47% !important;
    }
    .my-group-btn {
        width: 54%;
    }
    .text_title {
        font-size: 22px;
    }
    .cover-container .img-1 {
        margin-top: -3%;
    }
}
@media (max-width: 1440px) and (min-width: 1367x) {
    .mySwiper {
        width: 66% !important;
    }
    .my-group-btn {
        width: 70%;
    }
    .page-1 .swiper-slide img {
        height: 68%;
    }
    .content-container img {
        max-height: 45vh;
    }
    .page-7 .img-2 {
        bottom: -29%;
        left: -29.5%;
        max-height: 22vh;
    }
    .page-1-group-btn {
        bottom: 16%;
        left: 2%;
    }
    .page-2 .script-img {
        bottom: 9%;
    }
    .slide-des {
        left: 0%;
        top: 25px;
    }
}
@media (max-width: 1366px) {
    .page-title-container .page-title {
        font-size: 20px;
    }
    .page-title-container {
        min-height: 90px;
    }
    .page-1 .swiper-slide img {
        height: 98%;
    }
    // .content-container img {
    //     max-height: 52vh;
    // }
    .page-2 .script-img {
        font-size: 33px;
        bottom: 10%;
        left: -2.1%;
    }
    .content-container .group_image img {
        max-height: 60vh;
    }
    .page-6 .img-1 {
        max-height: 60vh;
    }
    .page-7 .img-2 {
        bottom: 2%;
        left: -14.5%;
        max-height: 22vh;
    }
}

@media (max-width: 1024px) {
    .nav-container {
        display: none;
    }
}

@media (min-width: 577px) {
    .mobile {
        // display: none !important;
    }
}

@media (max-width: 576px) {
    .pc {
        // display: none !important;
    }
}
